.g_box {
  width: 100%;
  height: 100vh;
  // background-color: red;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  main {
    width: 100%;
    height: 100%;
  }
}

#lower_canvas {
  top: 0;
  left: 0;
  position: absolute;
}

#upper_canvas {
  top: 0;
  left: 0;
  position: absolute;
}

.canvas_box {
  background-color: #F1F1F1;
  // 写个内阴影
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
